.ui.grid > .black.column,
.ui.grid > .black.row,
.ui.grid > .row > .black.column {
  background-color: #505757 !important;
}
.black.column > a {
  color: white;
  text-decoration: underline;
}
.black.column > a:hover {
  color: #bbb;
}
